CORTEX_DB_PASSWORD=insert-your-password-here
CORTEX_API_KEY=insert-your-api-key-here
PROMETHEUS_FILE_SD_HOST_DIR=insert-your-file-service-discovery-host-dir-here
CORTEX_ANSIBLE_HOST_DIR=insert-your-ansible-host-dir-here
CORTEX_SSH_KEY_HOST_DIR=insert-your-ssh-key-host-dir-here
